.title {
  text-align: center;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}

.hidden {
  display: none;
}

.button {
  border-radius: 25px;
  margin-bottom: 50px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 600;
  background-color: #fce0f5;
}

img:hover {
  opacity: 0.5;
}

.fa-shopping-cart {
  font-size: 35px;
  margin-top: 50px;
}

.cart-container {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  z-index: 10000;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

#count {
  color: #e57093;
}

.price {
  color: #e57093;
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
  background-color: white;
  margin-left: 20%;
}

.jumbotron h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
}

.carousel-inner img {
  margin: auto;
}

#carousel {
  margin-bottom: 100px;
  width: 100%;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  margin-bottom: 50px;
  text-align: center;
}
